<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
</head>
<!DOCTYPE html>
<html>

<head>
    <title>Books List</title>
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center ">
            <div class="col-12 col-md-8">
                <h1>Book update</h1>
                <form action="/books/<%= book.id %>/update" method="post">
                    <div class="form-group">
                        <label for="title">title:</label>
                        <input type="text" id="title" name="title" class="form-control" value="<%= book.title %>">
                    </div>
                    <div class="form-group">
                        <label for="author">author:</label>
                        <input type="text" id="author" name="author" class="form-control" value="<%= book.author %>">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>