<!DOCTYPE html>
<html>

<head>
    <title>Edit Category</title>
</head>

<body>
    <h1>Edit Category</h1>
    <form action="/categories/<%= category.id %>/update" method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= category.name %>"><br>

        <div>
            <label for="image">image:</label>
            <input type="file" id="image" name="image">
        </div>
        <input type="submit" value="Update">
    </form>
    <img src="/<%= category.image %>" alt="category image" width="100px"><br>
</body>

</html>