<!DOCTYPE html>
<html>

<head>
    <title>Show Product</title>
</head>

<body>
    <h1>Show Product</h1>
    <h1><%= product.name %></h1>

    <p>Category: <%= product.category_name %></p>
    

    <img src="<%= product.image %>" alt="product image" width="100px">
</body>

</html>